<main class="register-container">
<h2 class="register-title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
   <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>

 
    <%= f.submit "Sign up", style: "height: 50px;width: 20vw; padding: 10px 20px;",class: "register-btn" %>

<% end %>

<%= render "devise/shared/links" %>
<%= link_to "Go Back", root_path%>
</main>