<h1>Admin panel</h1>
<div>



<%= link_to "See Available books" , books_path%>
<%= link_to "Add Author", new_author_path %>
  <%= link_to "See Authors", authors_path %>
  <%= link_to "See Publishers", publishers_path %>
<%= link_to "add Publisher" ,  new_publisher_path%>
<%= link_to "Update Price" ,  new_price_update_path %>



</div>