
<main class="authors-container">



<% if @author.present? %>
  <%= form_for [@author] do |f| %>
    <% if @author.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

        <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<h1>Add Author</h1>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
      <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
         <div class="field-date">
      <%= f.label :date_of_birth %>
   <%= f.date_field :date_of_birth %>
    </div>
         <div class="field">
      <%= f.label :about %>
      <%= f.text_area :about %>
    </div>
         <div class="field-about">
      <%= f.label :nationality %>
      <%= f.text_field  :nationality %>
    </div>
     
    
<div class="field-btn">
    <%= f.submit "Add Author",style: "height: 3.8vw" , class: "add-author" %>
    </div>
    <div>
  <%= link_to "Go Back", books_path, class:"link-back" %>
</div>
  <% end %>
<% else %>
  <p>aca esta el error</p>
<% end %>


</main>

