<main class="author-detail-cont">

<div class="show-author-detail">
  <h5>Author:</h5>
<p><%= @author.first_name + " " + @author.last_name   %></p> 
</div>


<div class="show-author-detail" >
<h5>
Date of Birth:
</h5>
<p>
<%= @author.date_of_birth %>
</div>
<div class="show-author-detail">
<h5>
About this author:
</h5>
<p>
<%= @author.about %>
</p>
</div>
<div class="show-author-detail">
<h5>
Country of origin:
</h5>
<p>
<%= @author.nationality %>
</p>
</div>





<div class="author-show-links">
<%= link_to  "Add book for this author", new_author_book_path(@author)%>
<%= link_to  "Update author", edit_author_path(@author.id)%>
<%= button_to "Delete author ",  @author, method: :delete, class:"delete-author-btn" %>

  <%= link_to "Back", authors_path %>
</div>
