<p><%= @author.first_name    %></p>
<p><%= @author.last_name %></p>
<%= link_to  "Add book for this author", new_author_book_path(@author)%>
<%= link_to  "Update author", edit_author_path(@author.id)%>
<%= button_to "Delete author ", @author, method: :delete %>



<div>
  <%= link_to "Home", root_path %>
</div>
