<div>
    <h1>Publishers</h1>
    <% if @publishers.empty? %>
     <h2>There are no publishers yet</h2>
      
       <%else%>
       div>

 <%= render partial:  "publishers/search" %>
</div>
  <% @publishers.each do |publisher| %>
    <div class="publisher">
      <h2><%= publisher.name %></h2>
        <p>Associated books: <%= publisher.associated_books %></p>
      <%= link_to "update publisher" , edit_publisher_path(publisher.id) %>
        <%= button_to "Delete publisher ", publisher, method: :delete %>
        
    
    
    </div>

  
  <% end %>
 
   
<% end %>

</div>
  <%= link_to "Home", root_path %>