<div id="<%= dom_id book %>">
    <h2><%= book.title %></h2>
    <p><%= book.author %></p>
    <p><%= book.isbn %></p>
    <p><%= book.date_of_publication %></p>
    <p><%= book.review %></p>
    <p><%= book.price %></p>
</div>
