<main class="search-books-container">
<%= form_tag(books_path, method: :get) do %>
<section class="search-books-form">
  <div class="">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search books...' %>
  </div>
  <div class="">
    <%= select_tag :search_by, options_for_select(['Title', 'ISBN', 'Author', 'Publisher'], params[:search_by]), class: 'search-select' %>
  </div>
  <div>
  
  <%= submit_tag 'Search',style:"height: 2.9vw ; width: 10vw",class: 'search-btn' %>
    <%= submit_tag 'Search',style:"height: 7vw ; width: 15vw",class: 'search-btn-mobile' %>

  </div>
</section>
<% end %>

</main>
