


<%if user_signed_in? %>
<div class="btn-cont">

<%= button_to "Log out",  destroy_user_session_path, method: :delete, class:"btn btn-primary " %>
</div>
<%else%>
<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>

<%end%>
<% if can?  :manage, @books, @authors   %>
 <%= render partial: "admin/admin_panel" %>
<%end%>


<p style="color: blue"><%= notice %></p>
<p style="color: red"><%= alert %></p>



<h1 class="d-flex justify-content-center mb-5 fw-bold fs-1">BooksStore</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  
  <% end %>
</div>
<div class"pagination">
<%= will_paginate @books %>
</div>


