<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>


<%if user_signed_in? %>
<%= button_to "Log out",  destroy_user_session_path, method: :delete %>
<%end%>




<%= form_tag(search_books_path, method: :get) do %>
  <%= text_field_tag :title_query, params[:title_query] %>
  <%= submit_tag "Search" %>
<% end %>

<h1 class="d-flex justify-content-center pb-4 text-xl">BooksStore</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  
  <% end %>
</div>
<div class"pagination">
<%= will_paginate @books %>
</div>


