<main class="add-book-container">





    <section class="section-form-right">

<% if @author.present? %>
  <%= form_for [@author, @book] do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title , required: true %>
    </div>
      <div class="field">
      <%= f.label :isbn %>
      <%= f.number_field :isbn , required: true %>
    </div>
         <div class="field">
      <%= f.label :author_name %>
   <%= f.text_field :author_name, value: @full_name, readonly: true %>
    </div>
         <div class="field">
      <%= f.label :review, style: "margin-bottom: 0.3vw" ,class:"review-label-mob" %>
      <%= f.text_area :review , required: true %>
    </div>
    </section>
    <section class="section-form-left">
         <div class="field">
      <%= f.label :date_of_publication %>
      <%= f.date_field  :date_of_publication , required: true%>
    </div>
        <div class="field">
      <%= f.label :price %>
      <%= f.number_field  :price  , required: true%>
    </div>
<div class="field">
  <%= f.label :publisher_id  , style: "margin-bottom: 0.2vw"%>
  <%= f.collection_select :publisher_id, @publishers, :id, :name, prompt: "Select or Create a Publisher" , style: "width: 10vw" %>
</div>
<p>publisher not listed?</p>

<%= link_to "Create a new publisher", new_publisher_path %>

    <%= f.submit "Create Book", style: "width: 14vw; height: 4.5vw" ,class:"add-book-btn"%>
      <%= f.submit "Create Book", style: "width: 20vw; height: 6vw;font-size: 2vw" ,class:"add-book-btn-mob"%>
  <% end %>
  </section>
<% else %>
  <p>aca esta el error</p>
<% end %>

<%= link_to "Back", authors_path , class:"add-book-link"%>
</main>