
<main class="show-book-container">

<section  class="book-show">
<div class="detail detail-title ">
<h3>Title:</h3>
<p><%= @book.title %></p>
</div>
<div class="detail detail-author">
<h3> Author:</h3>
<p><%= @book.author_name %></p>
<h3>Age: </h3>
<p><%= @book.author.author_age %></p>

</div>
<div class="detail detail-isbn">
  <h3>ISBN: </h3>
  <p><%= @book.isbn %></p>
</div>
<div class="detail detail-date">
  <h3>Date of publication: </h3>
  <p><%= @book.date_of_publication %></p>
</div>
<div class="detail detail-publisher">
  <h3>Publisher: </h3>
  <p><%= @book.publisher.name %></p>
</div>
<div class="detail detail-review">
   <h3>Review:</h3>
  <p><%= @book.review.to_s.split.take(6).join(" ") %>
  <%= link_to "...see more",  review_modal_book_path(@book.id) %></p>
</div>
<div class="detail detail-price">
     <h3>Price: $</h3>
      <p><%= @book.price %></p>
</div>

<div class="detail detail-links">
<% if can?  :manage, @books, @authors   %>
  <%= link_to "Edit this book", edit_book_path(@book) %>
  <%= button_to "Delete book", @book, method: :delete ,class: "delete-btn" %>

<%end%>
<% if user_signed_in?%>
  <%= link_to "Back to books", books_path %>
  <% else%>
  <%= link_to "Back to books", root_path %>
  <%end%>

</div>
</section>
<section class="book-cover">
<div class="cover">
<% if @book.cover.attached? %>
  <%= cl_image_tag @book.cover.key, :width=>290  ,:height=>480, :crop=>"fill" %>
<% else %>
  <p>No image available</p>
<% end %>

</div>
</section>

</main>
