<main class="login-container">
<h2 class="login-title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>



  <div class="actions">
    <%= f.submit "Log in" ,style: "height: 50px;width: 20vw; padding: 10px 20px;", class:"login-btn-desk" %>
       <%= f.submit "Log in" ,style: "height: 12vw ;width: 30vw; padding: 10px 20px;font-size:5vw", class:"login-btn-mob" %>
  </div>
<% end %>


  <div class="login-back">
  <%= link_to "Back", root_path %>
</div>
  
</main>