
<main class="update-price-cont">
<%= form_for @price_update, url: price_updates_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :publisher_id, 'Select Publisher' %>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name, prompt: 'Select a Publisher' %>
  </div>
  
  <div class="field">
    <%= f.label :update_type, 'Update Type' %>
    <%= f.select :update_type, [['Increase', 'increase'], ['Decrease', 'decrease']], prompt: 'Select Update Type' %>
  </div>

  <div class="field">
    <%= f.label :percentage, 'Percentage' %>
    <%= f.number_field :percentage, step: 0.01 , required: true %>
  </div>

  <%= f.submit 'Update Prices', style:"width: 8vw; height: 3.5vw; font-size: 1vw", class: 'update-btn' %>
  <%= f.submit 'Update Prices', style:"width: 16vw; height: 7vw; font-size: 2vw", class: 'update-btn-mob' %>
<% end %>

<div class="addpub-back-link">
<%= link_to 'Back', books_path %>
</div>
</main>