
<main class="update-price-cont">
<%= form_for @price_update, url: price_updates_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :publisher_id, 'Select Publisher' %>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name, prompt: 'Select a Publisher' %>
  </div>
  
  <div class="form-group">
    <%= f.label :update_type, 'Update Type' %>
    <%= f.select :update_type, [['Increase', 'increase'], ['Decrease', 'decrease']], prompt: 'Select Update Type' %>
  </div>

  <div class="form-group">
    <%= f.label :percentage, 'Percentage' %>
    <%= f.number_field :percentage, step: 0.01 %>
  </div>

  <%= f.submit 'Update Prices', class: 'btn btn-primary' %>
<% end %>
</main>